<p-toast></p-toast>
<div class="card">
    <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
            <button pButton pRipple label="Cadastrar Norma" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="openNew()"></button>
            <button pButton pRipple [label]="Excluir" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedNormas()" [disabled]="!selectedNormas || !selectedNormas.length"></button>
        </ng-template>
        <ng-template pTemplate="right">
            <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Importar" class="p-mr-2 p-d-inline-block"></p-fileUpload>
            <button pButton pRipple label="Exportar" icon="pi pi-upload" class="p-button-help"></button>
        </ng-template>
    </p-toolbar>
    <p-table #dt [value]="normas" [rows]="10" [paginator]="false" [(selection)]="selectedNormas" [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Exibindo {first} até {last} de {totalRecords} registros" [showCurrentPageReport]="false">
        <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between">
                <h2 class="p-m-0">Gestão de Normas</h2>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Pesquisar..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="codigo">Código <p-sortIcon field="codigo"></p-sortIcon></th>
                <th pSortableColumn="descricao">Descrição <p-sortIcon field="descricao"></p-sortIcon></th>
                <th pSortableColumn="status">Status <p-sortIcon field="status"></p-sortIcon></th>
                <th pSortableColumn="ultimaAtualizacao">Última Atualização <p-sortIcon field="ultimaAtualizacao"></p-sortIcon></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-norma>
            <tr>
                <td>
                    <p-tableCheckbox [value]="norma"></p-tableCheckbox>
                </td>
                <td>{{norma.codigo}}</td>
                <td>{{norma.descricao}}</td>
                <td>{{norma.status}}</td>
                <td>{{norma.ultimaAtualizacao | date: 'short'}}</td>
                <td>
                    <button pButton pRipple icon="pi pi-search" class="p-button-rounded p-mr-2" [routerLink]="['/detalharNorma',norma.id]"></button>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-warning p-mr-2" (click)="editNorma(norma)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="deleteNorma(norma)"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="normaDialog" [style]="{width: '450px'}" header="Edição da Norma" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="p-field">
            <label for="codigo">Código</label>
            <input type="text" pInputText id="codigo" [(ngModel)]="norma.codigo" required autofocus />
            <small class="p-error" *ngIf="submitted && !norma.codigo">Código é obrigatório.</small>
        </div>
        <div class="p-field">
            <label for="descricao">Descrição</label>
            <textarea id="descricao" pInputTextarea [(ngModel)]="norma.descricao" required rows="3" cols="20"></textarea>
        </div>
        <div class="p-field">
            <label for="status">Status</label>
            <p-dropdown [(ngModel)]="norma.status" inputId="status" [options]="statuses" placeholder="Select">
                <ng-template let-option pTemplate="item">
                    <span [class]="'norma-badge status-' + option.value">{{option.label}}</span>
                </ng-template>
            </p-dropdown>
        </div>

        <div class="p-formgrid p-grid">
            <div class="p-field p-col">
                <label for="ultimaAtualizacao">Última Atualização</label>
                <input id="ultimaAtualizacao" [(ngModel)]="norma.ultimaAtualizacao" />
            </div>
        </div>
    </ng-template>
    
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Salvar" icon="pi pi-check" class="p-button-text" (click)="saveNorma()"></button>
    </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>