<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8"/>
        <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
        <title>TCC_MENU</title>
        <link href="TCC_MENU.css" rel="stylesheet"/>
        <script src="TCC_MENU.JS"></script>
    </head>
    <body class="backgroundMenu">
        <div id="menu">
            <header> 
               
                <nav>
                    <ul>
                        <li><a href="">NORMAS</a></li>
                        <li><a href="">CONSULTORIAS</a></li>
                        <li><a href="">GPI</a></li>
                        <li><a href="">CONTATO</a></li>
                    </ul>
                </nav>
            </header>
        </div>
        <img src= "s i g o (1).png" id="logo" >
        <br>
        <h1>PAINEL DE NORMAS</h1>
        <table border="1" id="tabela">
          
            <tr>
                <th>ID</th>
                <th>NOME</th>
                <th>DATA DA NORMA</th>
                <th>INCONES</th>
            </tr>
            <tr>
                <td>x</td>
                <td>x</td>
                <td>x</td>
                <td>* * *</td>
            </tr>
            <tr>
                <td>x</td>
                <td>x</td>
                <td>x</td>
                <td>* * *</td>
            </tr>
            <tr>
                <td>x</td>
                <td>x</td>
                <td>x</td>
                <td>* * *</td>
            </tr>
            <tr>
                <td>x </td>
                <td>x </td>
                <td>x </td>
                <td>* * *</td>
            </tr>
        </table>
        
    </body>
    </html>